<section class="site-section border-bottom" id="team-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Our Team</h2>
        <p class="lead" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque tempora reiciendis.</p>
      </div>
    </div>
    <div class="row">


      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="assets/images/avatar/duyhai.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Duy Hai</h3>
            <span class="position">Leader</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="assets/images/avatar/chungnguyen.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Chung Nguyen</h3>
            <span class="position">Member</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="assets/images/avatar/huule.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Huu Le</h3>
            <span class="position">Member</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="assets/images/person_8.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Quoc Dung</h3>
            <span class="position">Member</span>
          </div>
        </div>
      </div>





    </div>
  </div>
</section>
