<section class="site-section bg-light" id="sign-up-section" data-aos="fade">
  <div class="container">

    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Sign Up</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-md-1 col-xs-0 mb-5">
      </div>
      <div class="col-md-10 col-xs-12 mb-5">

        <form action="#" class="p-5 bg-white">

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" for="fname">First Name</label>
              <input type="text" id="fname" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="text-black" for="lname">Last Name</label>
              <input type="text" id="lname" class="form-control">
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" for="email">Email</label>
              <input type="email" id="email" class="form-control">
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" for="password">Password</label>
              <input type="password" id="password" class="form-control">
            </div>
          </div>
          <div class="row form-group">

            <div class="col-md-12 mb-3">
              <label class="text-black" for="confirm-password">Confirm Password</label>
              <input type="password" id="confirm-password" class="form-control">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6" style="text-align: left">
              <input (click)="onClose()" type="button" value="Close" style="color: dimgray" class="btn btn-light btn-md section-title">
            </div>
            <div class="col-md-6" style="text-align: right">
              <input (click)="onSubmit()" type="button" value="Submit" class="btn btn-primary btn-md text-white section-title">
            </div>
          </div>


        </form>
      </div>

    </div>
  </div>
</section>
